<ion-view view-title="Log In">
  <ion-content class="container">
    <img src="/img/juvologo.png" class="image-responsive center-block" alt="juvoLogo" style="max-width:85%;padding:30px 0;"/>
    <form >
      <div class="list">
        <label class="item item-input">
          <input class="login" type="email" ng-model="signup.email" placeholder="Username">
        </label>
        <label class="item item-input">
          <input class="login" type="password" ng-model="signup.password" placeholder="Password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="login(signup.email, signup.password )" type="submit">Log In</button>
        </label>
      </div>
    </form>
    <div class="buttons" style="padding:18px;">
      <a class="button button-block button-stable" href="#/app/signup">Create a new account</a>
    </div>
  </ion-content>
</ion-view>
