<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">

    <ion-content>

      <div class="title">
          <a class="item item-avatar item" href="#">
            <img src="img/avatar-icons/rabbit.png">
            <h2>John Stockton</h2>
            <p>Father</p>
          </a>
      </div>

      <ion-list>
        <ion-item  menu-close href="#/app/home">
          <i class="icon ion-android-home"></i> Home
        </ion-item>
        <ion-item  menu-close href="#/app/todo">
          <i class="icon ion-android-checkbox-outline"></i> To-Do
        </ion-item>
        <ion-item  menu-close href="#/app/shopping">
          <i class="icon ion-android-cart"></i> Shopping
        </ion-item>
        <ion-item  menu-close href="#/app/homework">
          <i class="icon ion-ios-book-outline"></i> Homework
        </ion-item>
        <ion-item  menu-close href="#/app/chores">
          <i class="icon ion-android-list"></i> Chores
        </ion-item>
        <ion-item  menu-close href="#/app/settings">
          <i class="icon ion-android-settings"></i> Settings
        </ion-item>

        <ion-item  menu-close href="#/app/signup">
          <i class="icon ion-alert-circled"></i> Sign Up
        </ion-item>
        <ion-item  menu-close href="#/app/login2">
          <i class="icon ion-alert-circled"></i> Login
        </ion-item>
      </ion-list>
    </ion-content>
    <button class="button button-full button-energized" style="opacity:.6;position:absolute;bottom:1%;z-index:1;">
      Log Out
    </button>
  </ion-side-menu>
</ion-side-menus>
