<ion-view view-title="To-Do">
  <ion-content>
    


    <div class="list">

          <ion-checkbox
                        ng-repeat="item in devList"
                        ng-model="item.checked"
                        ng-checked="item.checked">
          <s ng-show="item.checked">  <h2>{{ item.text }}</h2></s>
          <h2 ng-hide="item.checked">{{ item.text }}</h2>


          </ion-checkbox>

      <!--     <div class="item">
            <pre ng-bind="devList | json"></pre>
         </div> -->

          <p>

          </p>

      <div class="list list-inset">
        <form class="" action="index.html" method="post">


        <label class="item item-input item ">

          <input type="text" placeholder=" Add item">
          <button type="submit" class="button button-icon icon ion-plus-circled positive"></button>


        </label>
        </form>
      </div>


  </ion-content>
</ion-view>
