<ion-view view-title="Home">

<ion-content>
<ion-slide-box on-slide-changed="redirectTo(todo)" show-pager="false">
  <ion-slide>
  <div class="card card-blue">

    <a href="#/tab/list" class="item item-text-wrap item-icon-right">
      <h1>Todo</h1> <i class="icon ion-clipboard"></i>
      Tap to see your todo-list!
    </a>
  </div>
</ion-slide>
<ion-slide></ion-slide>
</ion-slide-box>

<ion-slide-box on-slide-changed="redirectTo(todo)" show-pager="false">
  <ion-slide>
  <div class="card card-green">
  <a href="#/tab/list" class="item item-text-wrap item-icon-right">
      <h1>Shopping</h1>
      Tap to see your shopping-list!
      <i class="icon ion-pizza"></i>
    </a>
  </div>
</ion-slide>
<ion-slide></ion-slide>
</ion-slide-box>
<ion-slide-box on-slide-changed="redirectTo(todo)" show-pager="false">
  <ion-slide>

  <div class="card card-red">
    <a href="#/tab/list"class="item item-text-wrap item-icon-right">
      <h1>Homework</h1>   <i class="icon ion-university"></i>
      Tap to see your homework-list!
    </a>
  </div>
</ion-slide>
<ion-slide></ion-slide>
</ion-slide-box>

<ion-slide-box on-slide-changed="redirectTo(todo)" show-pager="false">
  <ion-slide>
  <div class="card card-orange">
    <a href="#/tab/list" class="item item-text-wrap item-icon-right">
      <h1>Calendar</h1>   <i class="icon ion-calendar"></i>
      Tap to see your calendar!
  </a>
  </div>
</ion-slide>
<ion-slide></ion-slide>
</ion-slide-box>




</ion-content>
</ion-view>
