/* Empty. Add your own CSS if you like */
body{

  cursor: url('http://ionicframework.com/img/finger.png');
}


.star>.item-content{

  background-color: #EEE8D6 !important;
}
.splash{

  background: url(../img/skyline.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.branding{
  width: 100%;
  margin: 0 auto;
  max-width: 300px;
  text-align: center;
  margin-top: 80px;
}

.tagline{

  font-size: 1.4rem;
}

.branding p {

  margin-top: 10px;
  font-size: 1rem;
}

.item-divider{

  background-color: #579fcd;
}

.bar-positive,.tabs-positive>.tabs{

  border-color: #417D9A;


}

.item-thumbnail-left img{

  border-radius: 15px;
}

.item h3{

  font-size: 1.2rem;
  color: #417D9A;
}

.dayhighlight{

  background-color: #ccd5d7;

}


.dayhighlight h2 {

  color: #ffffff;
  font-size: 2rem;
  font-weight: 200;
}

.item-divider h2{
color: #ffffff;

}
.branding h1{

color: #ffffff;
font-size: 3rem;
font-weight: 300;

}
.card-blue{
border-left: thick #437be8;
border-style: solid;

}

.card-red{
border-left: thick #df4b4b;
border-style: solid;

}

.card-green{
border-left: thick #4bd57e;
border-style: solid;

}


.card-orange{
border-left: thick #f5be33;
border-style: solid;

}
